.animatedBackground {
    background: linear-gradient(
            120deg,
            var(--primary-background),
            var(--accent),
            var(--primary-foreground),
            var(--primary-background)
    );
    background-size: 300% 300%;
    animation: gradient-shift 30s ease infinite;
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
